<p><br /></p>
<table style="border-width: 0px; border-color: initial; width: 700px; border-collapse: collapse;" border="1">
<tbody>
<tr>
<td style="background: rgb(192, 192, 192); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 229px; height: 20px; vertical-align: middle;" colspan="4">
<p class="0" style="text-align: center;"><span style="font-family: 굴림; font-size: 9pt;">현업부서</span></p></td>
<td style="background: rgb(192, 192, 192); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 238px; height: 20px; vertical-align: middle;" colspan="4">
<p class="0" style="text-align: center;"><span style="font-family: 굴림; font-size: 9pt;">합의부서</span></p></td>
<td style="background: rgb(192, 192, 192); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 109px; height: 20px; vertical-align: middle;">
<p class="0" style="text-align: center;"><span style="font-family: 굴림; font-size: 9pt;">최종승인</span></p></td>
<td style="background: rgb(192, 192, 192); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 123px; height: 20px; vertical-align: middle;">
<p class="0" style="text-align: center;"><span style="font-family: 굴림; font-size: 9pt;">비고</span></p></td>
</tr>
<tr>
<td style="background: rgb(192, 192, 192); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 229px; height: 19px; vertical-align: middle;" colspan="4">
<p class="0" style="text-align: center;"><span style="font-family: 굴림; font-size: 9pt;">결재</span></p></td>
<td style="background: rgb(192, 192, 192); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 238px; height: 19px; vertical-align: middle;" colspan="4">
<p class="0" style="text-align: center;"><span style="font-family: 굴림; font-size: 9pt;">합의</span></p></td>
<td style="background: rgb(192, 192, 192); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 109px; height: 38px; vertical-align: middle;" rowspan="2">
<p class="0" style="text-align: center;"><span style="font-family: 굴림; font-size: 9pt;">결재</span></p></td>
<td style="background: rgb(255, 255, 255); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 123px; height: 70px; vertical-align: middle;" rowspan="3">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
</tr>
<tr>
<td style="background: rgb(192, 192, 192); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 45px; height: 19px; vertical-align: middle;">
<p class="0" style="text-align: center;"><span style="font-family: 굴림; font-size: 9pt;">작성</span></p></td>
<td style="background: rgb(192, 192, 192); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 128px; height: 19px; vertical-align: middle;" colspan="2">
<p class="0" style="text-align: center;"><span style="font-family: 굴림; font-size: 9pt;">검토</span></p></td>
<td style="background: rgb(192, 192, 192); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 57px; height: 19px; vertical-align: middle;">
<p class="0" style="text-align: center;"><span style="font-family: 굴림; font-size: 9pt;">승인</span></p></td>
<td style="background: rgb(192, 192, 192); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 238px; height: 19px; vertical-align: middle;" colspan="4">
<p class="0" style="text-align: center;"><span style="font-family: 굴림; font-size: 9pt;">검토</span><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">(</span><span style="font-family: 굴림; font-size: 9pt;">경유</span><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">)</span></p></td>
</tr>
<tr>
<td style="background: rgb(255, 255, 255); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 45px; height: 31px; vertical-align: middle;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">①</span><span style="font-family: 굴림; font-size: 9pt;">담당</span></p></td>
<td style="background: rgb(255, 255, 255); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 66px; height: 31px; vertical-align: middle;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">②</span><span style="font-family: 굴림; font-size: 9pt;">프로젝트 관리자</span></p></td>
<td style="background: rgb(255, 255, 255); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 62px; height: 31px; vertical-align: middle;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="background: rgb(255, 255, 255); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 57px; height: 31px; vertical-align: middle;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">③</span><span style="font-family: 굴림; font-size: 9pt;">팀장</span></p></td>
<td style="background: rgb(255, 255, 255); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 57px; height: 31px; vertical-align: middle;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="background: rgb(255, 255, 255); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 57px; height: 31px; vertical-align: middle;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="background: rgb(255, 255, 255); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 59px; height: 31px; vertical-align: middle;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="background: rgb(255, 255, 255); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 64px; height: 31px; vertical-align: middle;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="background: rgb(255, 255, 255); padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 109px; height: 31px; vertical-align: middle;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">④</span><span style="font-family: 굴림; font-size: 9pt;">품질서비스혁신팀 사원</span></p></td>
</tr>
</tbody>
</table>
<table style="border-width: 0px; border-color: initial; width: 700px; border-collapse: collapse;" border="1">
<tbody>
<tr>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 133px; height: 34px; vertical-align: middle; background-color: rgb(234, 234, 234);">
<p class="0" style="text-align: center;"><span style="font-family: 굴림; font-size: 9pt;">대여목록</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 566px; height: 34px; vertical-align: middle;" colspan="5">
<p class="0"><span style="font-family: 굴림; font-size: 9pt;"><%= type %></span></p></td>
</tr>
<tr>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 133px; height: 34px; vertical-align: middle; background-color: rgb(234, 234, 234);">
<p class="0" style="text-align: center; word-break: keep-all;"><span style="font-family: 굴림; font-size: 9pt;">처리구분</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 566px; height: 34px; vertical-align: middle;" colspan="5">
<p class="0"><span style="font-family: 굴림; font-size: 9pt;">대여</span></p></td>
</tr>
<tr>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 133px; height: 267px; vertical-align: middle; background-color: rgb(234, 234, 234);" rowspan="8">
<p class="0" style="text-align: center; word-break: keep-all;"><span style="font-family: 굴림; font-size: 9pt;">처리내용</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 152px; height: 35px; vertical-align: middle;" colspan="2">
<p class="0" style="text-align: center; word-break: keep-all;"><span style="font-family: 굴림; font-size: 9pt;">품</span><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;&nbsp;&nbsp;</span><span style="font-family: 굴림; font-size: 9pt;">명</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 132px; height: 35px; vertical-align: middle;">
<p class="0" style="text-align: center; word-break: keep-all;"><span style="font-family: 굴림; font-size: 9pt;">수</span><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;&nbsp;&nbsp;</span><span style="font-family: 굴림; font-size: 9pt;">량</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 127px; height: 35px; vertical-align: middle;">
<p class="0" style="text-align: center; word-break: keep-all;"><span style="font-family: 굴림; font-size: 9pt;">기</span><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;&nbsp;&nbsp;</span><span style="font-family: 굴림; font-size: 9pt;">간</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 155px; height: 35px; vertical-align: middle;">
<p class="0" style="text-align: center; word-break: keep-all;"><span style="font-family: 굴림; font-size: 9pt;">비</span><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family: 굴림; font-size: 9pt;">고</span></p></td>
</tr>
<tr>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 152px; height: 32px; vertical-align: top;" colspan="2">
<p class="0"><span style="font-family: 굴림; font-size: 9pt;"><%= name %></span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 132px; height: 32px; vertical-align: top;">
<p class="0"><span style="font-family: 굴림; font-size: 9pt;">1</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 127px; height: 32px; vertical-align: top;">
<p class="0"><span style="font-family: 굴림; font-size: 9pt;">30일</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 155px; height: 32px; vertical-align: top;">
<p class="0"><span style="font-family: 굴림; font-size: 9pt;"></span></p></td>
</tr>
<tr>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 152px; height: 33px; vertical-align: top;" colspan="2">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 132px; height: 33px; vertical-align: top;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 127px; height: 33px; vertical-align: top;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 155px; height: 33px; vertical-align: top;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
</tr>
<tr>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 152px; height: 31px; vertical-align: top;" colspan="2">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 132px; height: 31px; vertical-align: top;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 127px; height: 31px; vertical-align: top;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 155px; height: 31px; vertical-align: top;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
</tr>
<tr>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 152px; height: 34px; vertical-align: top;" colspan="2">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 132px; height: 34px; vertical-align: top;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 127px; height: 34px; vertical-align: top;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 155px; height: 34px; vertical-align: top;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
</tr>
<tr>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 152px; height: 32px; vertical-align: top;" colspan="2">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 132px; height: 32px; vertical-align: top;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 127px; height: 32px; vertical-align: top;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 155px; height: 32px; vertical-align: top;">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span></p></td>
</tr>
<tr>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 699px; height: 316px; vertical-align: top;" colspan="6">
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">(</span><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">※</span><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span><span style="font-family: 굴림; font-size: 9pt;">해당 사유에 대하여</span><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">6</span><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span><span style="font-family: 굴림; font-size: 9pt;">하원칙에 의거해 작성</span><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">&nbsp;</span><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">)</span></p>
<p class="0"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;"><br /></span></p>
<p class="0"><span style="font-family: 굴림; font-size: 9pt;">상기 비품의 대여를 요청합니다.</span></p></td>
</tr>
<tr>
<td style="padding: 1px 6px; border: 1px solid rgb(0, 0, 0); width: 699px; height: 34px; vertical-align: middle;" colspan="6">
<p class="0" style="text-align: center;"><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">(</span><span style="font-family: 굴림; font-size: 9pt;">주</span><span style="letter-spacing: 0pt; font-family: 굴림; font-size: 9pt;">)</span><span style="font-family: 굴림; font-size: 9pt;">네비웍스</span></p></td>
</tr>
</tbody>
</table><br />